h3 {
   margin-top: 20px;
   /* padding-top: 20px; */
}

.ldr-div {
   width: 100%;
   display: column;
   justify-content: center;
   align-items: center;
   height: auto;
}

.ldrItem {
   /* width: 80%; */
   display: flex;
   justify-content: center;
   align-items: center;
   /* margin: 5px 10px; */
}

.ldr-title {
   font-family: var(--title-font);
   font-size: xx-large;
   color: var(--dark-green);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px 10px;
}

.ldr-title > * {
   margin: 0px 10vw 0px 0px;
}

.btnFlex {
   display: flex;
   justify-content: flex-start;
   margin: 0px 10vw 0px 0vw;
}

.title {
   /* border-bottom: 2px solid var(--medium-green); */
   margin: 5px;
}

.new-line {
   height: 2px;
   background-color: var(--medium-green);
   width: 100%;
}

.new-line-ldr {
   height: 2px;
   background-color: var(--medium-green);
   width: 80vw;
}

.ldr-parent-div {
   width: 80vw;
}

.new-line-seg {
   height: 2px;
   background-color: var(--medium-green);
   width: 60%;
   margin: 0px 20%;
}

.new-ln {
   height: 2px;
   background-color: var(--medium-green);
}

.brk-ln {
   background-color: var(--medium-green);
   width: 2px;
   height: 15px;
}

.ldrList {
   width: 25vw;
   margin: 10px 5px;
}

.ldrItem-seg {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 3px 20px;
}

.segList {
   width: 20%;
   margin: 5px;
}

.geoList {
   width: fit-content;
   margin: 5px 10px;
}

.removeDefaults {
   border: none;
   background-color: transparent;
   padding: 0;
   /* margin-top: 15px; */
}

.empty {
   width: 13.33px;
}

.backToCourse {
   width: 30px;
   height: 30px;
   color: var(--dark-green);
}
.back-spacing {
   position: absolute;
   margin: 20px;
   color: var(--dark-green);
}

.arrow-btn {
   width: 30px;
   height: 30px;
   transition: all 0.1s ease-in-out;
   color: var(--dark-green);
}

.arrow-btn:hover {
   transform: rotate(90deg);
   color: var(--light-green);
}

.forward-button {
   width: 30px;
   height: 30px;
   transition: all 0.2s ease-in-out;
   color: var(--dark-green);
}

.forward-button:hover {
   color: var(--light-green);
}

.to-seg-txt {
   font-size: x-small;
   position: absolute;
   margin: -25px 30px;
   color: transparent;
   transition: all 0.2s ease-in-out;
}
.forward-button:hover + .to-seg-txt {
   color: var(--light-green);
}

.back-btn {
   width: 30px;
   height: 30px;
   /* margin: 0px; */
   transition: all 0.2s ease-in-out;

   color: var(--dark-green);
}

.back-btn:hover {
   color: var(--light-green);
}

.back-txt {
   position: absolute;
   margin-top: -40px;
   padding-top: 30px;
   transition: all 0.5s cubic-bezier(1, -0.11, 1, 0.94);
   color: rgba(0, 0, 0, 0);
}

.back-txt:hover {
   color: var(--light-green);
}

.back-txt:hover + .backToCourse {
   color: var(--light-green);
}

.close-btn {
   width: 30px;
   height: 30px;
   transition: all 0.2s ease-in-out;
   color: var(--dark-green);
}

.close-btn:hover {
   color: var(--light-green);
}

.close-txt {
   position: absolute;
   margin-top: -13px;
   height: 20px;
   transition: all 0.3s cubic-bezier(1, -0.11, 1, 0.94);
   overflow: hidden;
   display: flex;
   color: rgba(0, 0, 0, 0);
}

.close-btn:hover + .close-txt {
   height: 20px;
   color: var(--light-green);
}

.empty-space {
   width: 30px;
}

.ldr-line {
   margin: 10px;
   background-color: var(--medium-green);
   height: 2px;
   width: 50%;
   border-radius: 50%;
}

.margin-LR {
   margin-left: 50px;
   margin-right: 50px;
}

.geo-title {
   font-family: var(--body-font);
   font-size: large;
   color: var(--dark-green);
   font-weight: normal;
   margin: 5px 50px;
}

/* .ldrItem:nth-child(2n) {
   background-color: var(--trans-green);
} */

@media (max-width: 750px) {
   .geo-title {
      font-size: large;
   }
   .back-spacing {
      margin: 10px;
   }
   .margin-LR {
      font-size: xx-large;
   }
   .segList {
      font-size: small;
   }
   .ldr-parent-div {
      width: 100vw;
   }
}

.colorPurple {
   background-color: var(--light-purple);
}

.colorBg {
   background-color: var(--bg-color);
}
