.background-img {
   filter: brightness(0.7) blur(2px);
   min-height: 500px;
   min-width: 100vw;
   clip-path: var(--polygon);
   background-size: cover;
   background-position: center;
   z-index: 0;
}
.para3 {
   clip-path: var(--polygon);
   box-shadow: inset 0 0 10px #000000;
   margin-bottom: 20px;
}

.contain {
   /* max-height: 400px; */
   transform: translateY(-500px);
   margin-top: 50px;
   z-index: 1;
   width: 100%;
   position: absolute;
}

.race {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   align-content: flex-end;
   /* width: 90%; */
}
.race-title {
   color: white;
   text-shadow: 0px 0px 4px black;
   padding: 0px 5% 0px 5%;
}
.tern {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: flex-end;
   padding: 0px 5% 0px 5%;
}

h1 {
   font-size: xxx-large;
}

.first-subtitle {
   color: white;
   font-weight: normal;
   font-size: x-large;
   text-shadow: 0px 0px 4px black;
}
.second-subtitle {
   color: white;
   font-weight: normal;
   font-size: x-large;
   text-shadow: 0px 0px 4px black;
}

.contain > * {
   margin: 20px;
}

.tern > * {
   margin: 20px;
}

.line {
   margin: 10px;
   background-color: var(--medium-green);
   height: 2px;
   width: 50%;
   border-radius: 50%;
   margin-left: 25%;
}
.contain > .btn {
   margin: 10px;
}

@media (max-width: 750px) {
   .tern {
      padding: 0px;
      align-items: center;
   }
   .race-title {
      padding: 0px;
   }
   .contain > * {
      margin: 5px;
   }
   .race {
      align-items: center;
   }

   .first-subtitle {
      margin: 10px;
   }
   .second-subtitle {
      margin: 10px;
   }
}

.first-subtitle,.second-subtitle{
   text-shadow: 0.5px 0 0 var(--dark-green), -0.5px 0 0 var(--dark-green), 0 0.5px 0 var(--dark-green), 0 -0.5px 0 var(--dark-green), 0.5px 0.5px 0 var(--dark-green), -0.5px 0.5px 0 var(--dark-green), 0.5px -0.5px 0 var(--dark-green), -0.5px -0.5px 0 var(--dark-green);
}