.parent {
  box-shadow: 0px 0px 10px lightgrey;
  padding: 10px 0px 0px 0px;
  background-color: var(--bg-color);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
}

.header {
  background-color: var(--bg-color);
  height: 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.menu-button {
  text-decoration: none;
  border: none;
  font-size: medium;
  padding: 7px 15px 7px 15px;
  margin: 5px;
  border-radius: 20px;
  background-color: var(--purple);
  display: flex;
  align-items: center;
}
.menu-button:hover {
  background-color: var(--dark-green);
}

.menu > * {
  text-decoration: none;
  padding: 10px;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.patty {
  background-color: black;
  height: 2px;
  width: 15px;
  margin: 2px;
  margin-left: 5px;
}

.menu > *:hover {
  background-color: var(--light-green);
}
.menu {
  margin-top: 10px;
  height: 0px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.drop {
  height: 50px;
}
.drop > * {
  color: var(--dark-green);
}

@media (max-width: 750px) {
  .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
  .drop {
    height: 275px;
  }
  .header > h1 {
    font-size: x-large;
  }
}
