.parent {
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
   padding: 10px 0px 0px 0px;
   background-color: var(--bg-color);
   width: 100vw;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   z-index: 10;
}

.header {
   background-color: var(--bg-color);
   height: 40px;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
.logo {
   text-decoration: none;
   color: var(--dark-green);
   font-family: var(--title-font);
   font-size: xx-large;
   font-weight: bold;
   transition: var(--btn-tran);
}

.logo:hover {
   color: var(--light-green);
}

.menu-button {
   text-decoration: none;
   border: none;
   font-size: medium;
   padding: 7px 15px 7px 15px;
   margin: 5px;
   border-radius: 20px;
   background-color: var(--purple);
   display: flex;
   align-items: center;
   transition: var(--btn-tran);
}
.menu-button:hover {
   background-color: var(--light-green);
}

.menu > * {
   text-decoration: none;
   padding: 10px 25px 10px 25px;
   color: rgba(0, 0, 0, 0);
   justify-content: space-between;
   transition: var(--btn-tran);
}

.patty {
   background-color: black;
   height: 2px;
   width: 22px;
   margin: 5px;
   margin-left: 5px;
}

.menu > .link:hover {
   background-color: var(--light-green);
}
.menu {
   margin-top: 10px;
   height: 0px;
   transition: all 0.5s ease-in-out;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0px 5%;
}

.submenu{
   margin-top: 0;
   padding: 0;
}

.drop {
   height: 50px;
}
.drop > * {
   color: var(--dark-green);
}

@media (max-width: 750px) {
   .menu {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
   }
   .drop {
      height: 250px;
   }
   .logo {
      font-size: x-large;
   }
}
