.footer {
   background-color: var(--purple);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 45px;
   transition: none;
   z-index: 10;
   width: 100vw;
}
.footer > footer {
   transition: none;
}

.footer * {
   margin: 5px;
   font-size: small;
   text-decoration: none;
   color: var(--dark-green);
   transition: var(--btn-tran);
}

.footer > .logo {
   font-family: var(--title-font);
   font-size: large;
   padding: 0px;
}

.footer *:hover {
   color: var(--light-green);
}

@media (max-width: 750px) {
   .footer > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      transition: none;
   }
   .footer {
      height: 100px;
   }
}
