@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

.render {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: calc(95vh - 45px);
  z-index: 3;
  transition: 0.3s;
  background-color: #6fb164;
  width: 90%;
  border-radius: 2rem;
  padding-bottom: 1rem;
}

.transitioner {
  transform: translate(0%, -90%);
}

.location-info {
  z-index: 4;
  line-height: 175%;
  cursor: pointer;
  text-align: left;
  padding-left: 1rem;
  font-weight: 400;
  background-color: white;
}

.location-info:hover {
  background-color: #97d18d;
  color: black;
}

.clicker {
  width: 5rem;
  height: 0.25rem;
  background-color: rgba(255, 255, 255, 0.815);
  z-index: 5;
  margin: 0.75rem auto;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.1rem;
}

#locationName {
  font-weight: 500;
}

@media (min-width: 750px) {
  .render {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .render {
    top: calc(95vh - 100px);
  }
}
