@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Raleway:wght@100&display=swap");

* {
   margin: 0px;
}

:root {
   --light-green: #97d18d;
   --medium-green: #6fb164;
   --dark-green: #426d3b;
   --purple: #c894d1;
   --bg-color: white;
   --title-font: "Raleway", sans-serif;
   --body-font: "Cabin", sans-serif;
   --polygon: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.App {
   text-align: center;
   font-family: var(--body-font);
   overflow-x: hidden;
}

.page {
   min-height: calc(100vh - 45px);
}

@media (max-width: 750px) {
   .page {
      min-height: calc(100vh - 100px);
   }
}
