#lowerIt {
  overflow-x: hidden;
  overflow-y: hidden;
}

.getPos {
  position: absolute;
  top: 15vh;
  right: 5vw;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #6fb164;
  border: none;
  z-index: 7;
  font-size: 20pt;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0px 6px 11px -1px #00000075;
  box-shadow: 0px 6px 11px -1px #00000075;
}

.getPos:hover {
  bottom: 3.5rem;
  -webkit-box-shadow: 0px 10px 13px 1px #0000008e;
  box-shadow: 0px 10px 13px 1px #0000008e;
}

.newCrse {
  top: 25vh;
  font-size: 10pt;
}

.startAct {
  top: 85vh;
  width: 5rem;
  border-radius: 25%;
  font-size: 16pt;
  background-color: #1b1b1b;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 1;
}

.startAct:hover {
  background-color: #426d3b;
}

.notToggler {
  background-color: #c894d1;
}

.indexfour {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}

.indexfour input {
  padding: 0.5rem;
  font-size: 14pt;
  border-radius: 2rem;
  border: solid 1px #426d3b;
}

.indexfour input:focus {
  outline: none;
  border-color: #c894d1;
}

@media (max-width: 750px) {
  .getPos {
    top: 18vh;
  }
  .startAct {
    top: 60vh;
  }
  .newCrse {
    top: 28vh;
  }
}
